__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
ecommerceEnv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
scons-cache/
*.egg-info/
install-eggs/
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
*.log
local_settings.py
db.sqlite3
media/
staticfiles/
*.sqlite3
*.sqlite
*.db
secrets.json
.env
*.env
Thumbs.db
*.DS_Store
